<!DOCTYPE html>
<html>
<!--dir:assets,jade,plugins,documentation-->
  <head>  
    <title>羽駿實業有限公司</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta charset="utf-8">
    <link rel="icon" href="assets/img/favicon.ico" type="image/x-icon">  
    <link rel="stylesheet" type="text/css" href="assets/admin-tools/admin-forms/css/admin-forms.css">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lato:300,400,600,700%7CMontserrat:400,700">
    <link rel="stylesheet" type="text/css" href="assets/skin/default_skin/css/theme.css">	
  
  </head>
  <body class="dashboard-page">     
    <div id="main"> 
    <!--#include file="header.htm"-->
    <!--#include file="leftmenu.htm"-->
		<section id="content_wrapper">
		<header id="topbar" class="alt">
          <div class="topbar-left">
            <ol class="breadcrumb">
              <li class="crumb-active"><a href="wellcome.php">首頁</a></li>
              <li class="crumb-icon"><a href="wellcome.php"><span class="glyphicon glyphicon-home"></span></a></li>
              <li class="crumb-link"><a href="bigclass.php">原物料大類管理</a></li>
              <li class="crumb-link"> 添加原物料大類</li>
            </ol>
          </div>         
        </header>         
		<div class="panel-body pn">     
			<section id="content" class="animated fadeIn">         
				<div class="content-header">
					<h2><b class="text-primary">原物料大類添加</h2>         
				</div>				  
				<div class="mw1000 center-block">
			   
				  <div class="admin-form">
					  <form id="form-wizard" method="post" action="">
					  
						<div class="wizard steps-bg steps-left">                 
						  <h4 class="wizard-section-title"><i class="fa fa-user pr5"></i> 原物料大類</h4>
						  <section class="wizard-section">
						  
						  
							<div class="section">
							  <label for="name" class="field-label col-md-2 text-right">原物料大類名稱</label>
							  <div class="section  col-md-10">
								<label for="name" class="field prepend-icon">
								  <input id="name" type="text" name="name"   class="gui-input" placeholder="原物料大類名稱(必填)">
								  <label for="name" class="field-icon"><i class="fa fa-user"></i></label>
								</label> 
							  </div>
							</div>
							
							<div class="section">
							  <label for="description" class="field-label col-md-2 text-right">基本類別描述</label>
							  <div class="section col-md-10">
							  <label for="description" class="field prepend-icon">
								<input id="description" type="text" name="description" class="gui-input" placeholder="基本類別描述">
								<label for="description" class="field-icon"><i class="fa fa-edit"></i></label>
							  </label>
							  </div>
							</div>
							
							<div class="section">
							  <label for="squee" class="field-label col-md-2 text-right">排序</label>
							  <div class="section col-md-10">
							  <label for="squee" class="field prepend-icon">
								<input id="squee" type="text" name="squee" class="gui-input" placeholder="排序(必填)">
								<label for="squee" class="field-icon"><i class="fa fa-exchange"></i></label>
							  </label>
							  </div>
							</div>
							
						  </section>
						<div class="actions clearfix">
							<ul role="menu" aria-label="Pagination">
							  <input name="act" type="hidden" id="act" value="add" />
							  <li>&nbsp;{alertstr}</li>
							<li class="" aria-disabled="false"><input name="Reset" type="reset" class="btn  btn-info" value="取消" /></li>					
							<li style="display: inline-block;" aria-hidden="false"> <input name="input" type="submit" class="btn  btn-info" value="保存並返回列表" /></li>
							</ul>
						</div>
						</div>
					  </form>
				  </div>
			  </div>		  
			</section>
	   </div>        
	</div>
    <!--#include file="footer.htm"-->   
    <script type=" text/javascript">
      jQuery(document).ready(function () {		 
        $.validator.methods.smartCaptcha = function (value, element, param) {
          return value == param;
        };
        $("#form-wizard").validate({
          /* @validation states + elements
           ------------------------------------------- */
          errorClass: "state-error",
          validClass: "state-success",
          errorElement: "em",
          /* @validation rules
           ------------------------------------------ */
          rules:{            
            name:{
              required: true
            },
			squee:{
              required: true
            }
          },
          /* @validation error messages
           ---------------------------------------------- */
          messages:{
           
            name:{
              required: '請輸入原物料大類名稱!'
            },
			squee:{
              required: '請輸入排序!'
            }
			
          }
        });		 
      });
	  
    </script>	
  </body>
</html>