<!DOCTYPE html>
<html>
<!--dir:assets,jade,plugins,documentation-->
  <head>  
    <title>羽駿實業有限公司</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
     <meta charset="utf-8">
    <link rel="icon" href="assets/img/favicon.ico" type="image/x-icon">  
    <link rel="stylesheet" type="text/css" href="assets/admin-tools/admin-forms/css/admin-forms.css">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lato:300,400,600,700%7CMontserrat:400,700">
    <link rel="stylesheet" type="text/css" href="assets/skin/default_skin/css/theme.css">	
  
  </head>
<body class="dashboard-page">   
   
    <div id="main"> 
    <!--#include file="header.htm"-->
    <!--#include file="leftmenu.htm"-->
     <section id="content_wrapper">
       <header id="topbar" class="alt">
          <div class="topbar-left">
            <ol class="breadcrumb">
              <li class="crumb-active"><a href="wellcome.php">首頁</a></li>
              <li class="crumb-icon"><a href="wellcome.php"><span class="glyphicon glyphicon-home"></span></a></li>
              <li class="crumb-link"><a href="prdtlist.php">原物料基本資料</a></li>
              <li class="crumb-link"> 添加原物料基本資料</li>
            </ol>
          </div>         
        </header>         
        <div class="panel-body pn">     
        <section id="content" class="animated fadeIn">         
          <div class="content-header">
            <h2><b class="text-primary">原物料基本資料添加</h2>
            
          </div>
          <div class="mw1000 center-block">
           
            <div class="admin-form">
              <form id="form-wizard" method="post" action="">			  
                <div class="wizard steps-bg steps-left">                 
                  <h4 class="wizard-section-title"><i class="fa fa-user pr5"></i> 原物料基本資料</h4>
                 <section class="wizard-section">
                                    
                     <div class="section">
                      <label for="productno" class="field-label">原物料編號</label>
                      <label for="productno" class="field prepend-icon">
                        <input id="productno" type="text" name="productno" class="gui-input" value="{strproductno}">
                        <label for="productno" class="field-icon"><i class="fa fa-user"></i></label>
                      </label>
                    </div>  
					 <div class="section">
                     <label for="menugroup" class="field-label">原物料歸屬類型</label>
                      <label class="field select">
                         <select id="cid" name="cid">
                          <!--$bigclass_list as $big1=>$big-->
						  <option value="{big['id']}">+{big['name']}</option>
						  <!--$big['sub'] as $mid1=>$mid-->
						  <option value="{mid['id']}">&nbsp;&nbsp;&nbsp;&nbsp;-{mid['name']}</option>
						  <!--$mid['sub'] as $small1=>$small-->
						  <option value="{small['id']}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;----{small['name']}</option>
						  <!--end-->
						  <!--end-->
						  <!--end-->
                        </select><i class="arrow double"></i>
                           </label> 
                      </div>
                    
                     <div class="section">
                      <label for="productname" class="field-label">原物料名稱</label>
                      <label for="productname" class="field prepend-icon">
                        <input id="productname" type="text" name="productname" class="gui-input" value="">
                        <label for="productname" class="field-icon"><i class="fa fa-user"></i></label>
                      </label>
                    </div>                 
                     <div class="section">
                      <label for="spec" class="field-label">規格</label>
                      <label for="spec" class="field prepend-icon">
                        <input id="spec" type="text" name="spec" class="gui-input" value="">
                        <label for="spec" class="field-icon"><i class="fa fa-user"></i></label>
                      </label>
                    </div>
					<div class="section">
                      <label for="color" class="field-label">顏色</label>
                      <label for="color" class="field prepend-icon">
                        <input id="color" type="text" name="color" class="gui-input" value="">
                        <label for="color" class="field-icon"><i class="fa fa-user"></i></label>
                      </label>
                    </div>
					 <div class="section">
                      <label for="model" class="field-label">型號</label>
                      <label for="model" class="field prepend-icon">
                        <input id="model" type="text" name="model" class="gui-input" value="">
                        <label for="model" class="field-icon"><i class="fa fa-user"></i></label>
                      </label>
                    </div>
					<div class="section">
                      <label for="size" class="field-label">尺寸大小</label>
                      <label for="size" class="field prepend-icon">
                        <input id="size" type="text" name="size" class="gui-input" value="">
                        <label for="size" class="field-icon"><i class="fa fa-user"></i></label>
                      </label>
                    </div>
					<div class="section">
                      <label for="weight" class="field-label">重量</label>
                      <label for="weight" class="field prepend-icon">
                        <input id="weight" type="text" name="weight" class="gui-input" value="">
                        <label for="weight" class="field-icon"><i class="fa fa-user"></i></label>
                      </label>
                    </div>
					<div class="section">
                      <label for="squee" class="field-label">排序</label>
                      <label for="squee" class="field prepend-icon">
                        <input id="squee" type="text" name="squee" class="gui-input" value="">
                        <label for="squee" class="field-icon"><i class="fa fa-user"></i></label>
                      </label>
                    </div>
					<div class="section">
                      <label for="memo" class="field-label">備註</label>
                      <label for="memo" class="field prepend-icon">
                        <input id="memo" type="text" name="memo" class="gui-input" value="">
                        <label for="memo" class="field-icon"><i class="fa fa-user"></i></label>
                      </label>
                    </div>
					
                  </section>
                 <div class="actions clearfix">
				 <ul role="menu" aria-label="Pagination">
				     <input name="act" type="hidden" id="act" value="add" />
					  <li>&nbsp;{alertstr}</li>
					<li class="" aria-disabled="false"><input name="Reset" type="reset" class="btn" value="取消" /></li>					
					<li style="display: inline-block;" aria-hidden="false"> <input name="input" type="submit" class="btn" value="保存並返回列表" /></li>
					</ul>
					</div>
                </div>
              </form>
            </div>
          </div></div>
        </section>
      </section>    
    <!--#include file="footer.htm"-->  
<script type="text/javascript">
      jQuery(document).ready(function () {		 
        $.validator.methods.smartCaptcha = function (value, element, param) {
          return value == param;
        };
        $("#form-wizard").validate({
          /* @validation states + elements
           ------------------------------------------- */
          errorClass: "state-error",
          validClass: "state-success",
          errorElement: "em",
          /* @validation rules
           ------------------------------------------ */
          rules:{            
            productname: {
              required: true
            },
			spec:{
              required: true
            },
			squee:{
              required: true
            }
          },
          /* @validation error messages
           ---------------------------------------------- */
          messages:{
           
            productname:{
              required: '請輸入原物料名稱!'
            },
			spec:{
              required: '請輸入原物料規格!'
            },
			squee:{
              required: '請輸入排序!'
            }
			
          }
        });		 
      });
	  
    </script>		
    </body>
</html>