<!DOCTYPE html>
<html>
<!--dir:assets,jade,plugins,documentation-->
  <head>  
    <title>羽駿實業有限公司</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
     <meta charset="utf-8">
    <link rel="icon" href="assets/img/favicon.ico" type="image/x-icon">  
    <link rel="stylesheet" type="text/css" href="assets/admin-tools/admin-forms/css/admin-forms.css">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lato:300,400,600,700%7CMontserrat:400,700">
    <link rel="stylesheet" type="text/css" href="assets/skin/default_skin/css/theme.css">	
    <script type="text/javascript"> 
    function openwindow(url)
	{	 
	 var win=window.open(''+url+'','win','toolbar=no,location=no,directories=no,status=no, menubar=no,scrollbars=no,resizable=no,titlebar=no,width=780,height=540,top='+ parseInt((window.screen.height)/2) +',left='+ parseInt((window.screen.width)/3));
	 win.focus();
	
	}
</script> 
  </head>
<body class="dashboard-page">   
   
    <div id="main"> 
    <!--#include file="header.htm"-->
    <!--#include file="leftmenu.htm"-->
     <section id="content_wrapper">
       <header id="topbar" class="alt">
          <div class="topbar-left">
            <ol class="breadcrumb">
              <li class="crumb-active"><a href="wellcome.php">首頁</a></li>
              <li class="crumb-icon"><a href="wellcome.php"><span class="glyphicon glyphicon-home"></span></a></li>
              <li class="crumb-link"><a href="tf_qclist.php">報價單表身</a></li>
              <li class="crumb-link"> 添加報價單表身-類別->系統</li>
            </ol>
          </div>         
        </header>         
        <div class="panel-body pn">     
        <section id="content" class="animated fadeIn">         
          <div class="content-header">
            <h2><b class="text-primary">報價單表身-類別->系統-添加</h2>
            
          </div>
          <div class="mw1000 center-block">
           
            <div class="admin-form">
              <form id="form-wizard" method="post" action="">			  
                <div class="wizard steps-bg steps-left">                 
                  <h4 class="wizard-section-title"><i class="fa fa-user pr5"></i> 報價單表身-類別->系統</h4>
				  
				     <section id="content">
          <div class="panel invoice-panel">
            <div class="panel-heading"><span class="panel-title">報價單編號：{qc_no}</span>
             </div>
            <div id="invoice-item" class="panel-body p20">
              <div class="col-md-12">
                <div class="col-md-4">
                  <div class="pull-left">
                    <h5 class="th">專案名稱： {rs['projectname']}</h5>
                    <h5 class="th">類別名稱： {rs['class_name']}</h5>						
                   </div>
                </div>               
              </div>
                 <section class="wizard-section">
                      <div class="section">
                     <label for="systemmodel" class="field-label">系統模塊名稱</label>                        
                         <input type="hidden" id="systemmodelid" name="systemmodelid">
                         <input type="text" id="systemmodel" name="systemmodel" class="gui-input" style="width:50%;" />
                         <button class="button btn-primary" type="button" onclick="javascript:openwindow('choosesystem.php?getid=systemmodelid&getname=systemmodel');"> 挑選</button>
                      </div>
					     
			       <div class="section">
                      <label for="qty" class="field-label">數量</label>
                      <label for="qty" class="field prepend-icon">
                        <input id="qty" type="text" name="qty" class="gui-input" value="">
                        <label for="qty" class="field-icon"><i class="fa fa-user"></i></label>
                      </label>
                    </div> 		
					<div class="section">
                      <label for="unit" class="field-label">單位</label>
                      <label for="unit" class="field prepend-icon">
                        <input id="unit" type="text" name="unit" class="gui-input" value="">
                        <label for="unit" class="field-icon"><i class="fa fa-user"></i></label>
                      </label>
                    </div>
                      <div class="section">
                      <label for="price" class="field-label">單價</label>
                      <label for="price" class="field prepend-icon">
                        <input id="price" type="text" name="price" class="gui-input" value="" onblur="calltotal();">
                        <label for="price" class="field-icon"><i class="fa fa-user"></i></label>
                      </label>
                    </div> 	
					  <div class="section">
                      <label for="total" class="field-label">小計</label>
                      <label for="total" class="field prepend-icon">
                        <input id="total" type="text" name="total" class="gui-input" value="">
                        <label for="total" class="field-icon"><i class="fa fa-user"></i></label>
                      </label>
                    </div> 	
					<div class="section">
					  <label for="valid" class="field-label">是否推算</label>
					    <div class="option-group field">
                          <label for="valid1" class="block mt15 option option-primary">
                            <input id="valid1" name="valid" value="T" type="radio" checked><span class="radio"></span>Y
                          </label>
                          <label for="valid2" class="block mt15 option option-primary">
                            <input id="valid2" name="valid" value="F" type="radio"><span class="radio"></span> N
                          </label>
                          </div>  
                        </div>
                  </section>
                 <div class="actions clearfix">
				 <ul role="menu" aria-label="Pagination">
				     <input name="act" type="hidden" id="act" value="add" />
					  <li>&nbsp;{alertstr}</li>
					<li class="" aria-disabled="false"><input name="Reset" type="reset" class="btn" value="取消" /></li>					
					<li style="display: inline-block;" aria-hidden="false"> <input name="input" type="submit" class="btn" value="下一步(添加報價單表身-工項)" /></li>
					</ul>
					</div>
                </div>
              </form>
            </div>
          </div></div>
        </section>
      </section>    
    <!--#include file="footer.htm"-->  
<script type="text/javascript">
      jQuery(document).ready(function () {		 
        $.validator.methods.smartCaptcha = function (value, element, param) {
          return value == param;
        };
        $("#form-wizard").validate({
          /* @validation states + elements
           ------------------------------------------- */
          errorClass: "state-error",
          validClass: "state-success",
          errorElement: "em",
          /* @validation rules
           ------------------------------------------ */
          rules:{
            qty:{
              required: true
            },
			unit:{
              required: true
            },
			price:{
              required: true
            },
			total:{
              required: true
            }
          },
          /* @validation error messages
           ---------------------------------------------- */
          messages:{           
            qty:{
              required: '請輸入數量!'
            },
			unit:{
             required: '請輸入單位!'
            },
			price:{
              required: '請輸入單價!'
            },
			total:{
              required: '請輸入小計!'
            }
			
          }
        });		 
      });
	 
function calltotal()
{
/*计算单个的价格*/
var quantity=document.getElementById("qty").value;
var price=document.getElementById("price").value;
var smallTotal=quantity*price;
var smallT=document.getElementById("total");
smallT.value=smallTotal;
}

    </script>		
    </body>
</html>