<header class="navbar undefined">
        <div class="navbar-branding"><a href="wellcome.php" class="navbar-brand text-uppercase">羽駿實業</a><span id="toggle_sidemenu_l" class="fa fa-bars"></span></div>
        <ul class="nav navbar-nav navbar-left"></ul>
        <form role="search" class="navbar-form navbar-left navbar-search alt"><span class="hide visible-md-inline-block visible-lg-inline-block fa fa-search fs18"></span>
          <div class="form-group">
            <input type="text" placeholder="Search..." class="form-control">
          </div>
        </form>
        <ul class="nav navbar-nav navbar-right">
          <li><img src="assets/img/avatars/1.jpg" alt=""></li>
          <li class="dropdown menu-merge"><a href="#" data-toggle="dropdown" class="dropdown-toggle fw600 p15"><span class="fa fa-angle-down"></span> </a>
            <ul role="menu" class="dropdown-menu list-group dropdown-persist w250">
              
              <li class="list-group-item"><a href="#" class="animated animated-short fadeInUp"><span class="fa fa-envelope"></span>登入记录<span class="label label-warning">{run:echo $_SESSION['username'];} </span></a></li>     
              <li class="list-group-item"><a href="#" class="animated animated-short fadeInUp"><span class="fa fa-gear"></span>个人设置</a></li>
              <li class="dropdown-footer"><a href="index.php?act=logout"><span class="fa fa-power-off pr5"></span> Logout</a></li>
            </ul>
          </li>
        </ul>
      </header> 
