<!DOCTYPE html>
<html>
<!--dir:assets,jade,plugins,documentation-->
  <head>  
    <title>羽駿實業有限公司</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
     <meta charset="utf-8">
    <link rel="icon" href="assets/img/favicon.ico" type="image/x-icon">  
    <link rel="stylesheet" type="text/css" href="assets/admin-tools/admin-forms/css/admin-forms.css">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lato:300,400,600,700%7CMontserrat:400,700">
    <link rel="stylesheet" type="text/css" href="assets/skin/default_skin/css/theme.css">	
  
  </head>
<body class="dashboard-page">   
   
    <div id="main"> 
    <!--#include file="header.htm"-->
    <!--#include file="leftmenu.htm"-->
     <section id="content_wrapper">
       <header id="topbar" class="alt">
          <div class="topbar-left">
            <ol class="breadcrumb">
              <li class="crumb-active"><a href="wellcome.php">首頁</a></li>
              <li class="crumb-icon"><a href="wellcome.php"><span class="glyphicon glyphicon-home"></span></a></li>
              <li class="crumb-link"><a href="qc_list.php">報價單清單</a></li>
              <li class="crumb-link">預覽報價單</li>
            </ol>
          </div>         
        </header>         
        <div class="panel-body pn">     
        <section id="content">
          <div class="panel invoice-panel">
            <div class="panel-heading"><span class="panel-title"><span class="glyphicon glyphicon-print"></span>預覽報價單</span>
              <div class="panel-header-menu pull-right mr10">
                <button type="button" class="btn btn-xs btn-default btn-gradient mr5">
				<a href="javascript:window.print()" class="btn btn-xs btn-default btn-gradient mr5"><i class="fa fa-print fs13"></i></a>
                </div>
            </div>
          <div class="panel invoice-panel">
            <div class="panel-heading"><span class="panel-title"></span>
             </div>  
			  <div id="invoice-item" class="panel-body p20">
              <div class="row">
                <div class="col-md-4">
                  <div class="pull-left">
                    <h1 style="width:200%;"> 報價單編號:<span style="font-size:16px;font-weight:bold;color:red;">{qc_no}</span></h1>
					<h5 class="th">類別名稱： {rs['class_name']}</h5>		
                    <h5 class="th">系統名稱： {rs['system_name']}</h5>	
                  
					<h5 class="mn">階段別: <b class="text-success">{rs['stage']}</b>
                    </div>
                </div>  
              </div>
              <div id="invoice-info" class="row">
                <div class="col-md-4">
                  <div class="panel panel-alt">
                    <div class="panel-heading"><span class="panel-title"><i class="fa fa-user"></i> 專案:</span>
                     
                    </div>
                    <div class="panel-body">
                      <address><strong>專案名稱:{rs['projectname']}</strong></address>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="panel panel-alt">
                    <div class="panel-heading"><span class="panel-title"><i class="fa fa-location-arrow"></i>對象單位:</span>
                      
                    </div>
                    <div class="panel-body">
                      <address><strong>{rsu["name"]}</strong><br><br><b>{rsc['name']}</b><br> {rs['address']}<br><abbr title="Phone">P:</abbr> {rs["tel"]}</address>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="panel panel-alt">
                    <div class="panel-heading"><span class="panel-title"><i class="fa fa-info"></i> 我方單位:</span>
                      <div class="panel-btns pull-right ml10"></div>
                    </div>
                    <div class="panel-body">
                      <ul class="list-unstyled">
                        <li><strong> {rsour['name']}</strong></li>
						<li>&nbsp;</li>
                        <li><b>{rscour['name']}</b></li>
                        <li>{rs['ouraddress']}</li>
                        <li>{rs['ourtel']}</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
                <div id="invoice-table" class="row">
                <div class="col-md-12">
                  <div class="table-responsive">
                    <table class="table table-striped">
                       <!--$workitem_list as $wl1=>$wl-->					  
						 <thead>
						 <tr>
                           <th colspan="6">{wl['k']}.工項名稱：{wl['workitemname']}</th>                         
                        </tr>		  
                         	
						  <tr>
                          <th>&nbsp;</th>
                          <th>原物料名稱</th>
                          <th>數量</th>
                          <th style="width: 135px;">單位</th>
                          <th>單價</th>
                          <th class="text-right pr10">小計</th>
                        </tr>
                      </thead>
                      <tbody>
					   <!--$wl['sub'] as $prdt1=>$pt-->
                        <tr>
                          <td>&nbsp;</td>
                          <td>{pt['productname']}</td>
                          <td>{pt['qty']}</td>
                          <td>{pt['unit']}</td>
                          <td>{pt['price']}</td>
                          <td class="text-right pr10">{pt['total']}</td>
                        </tr>
						<!--end-->                       
                      </tbody>
					  <!--end-->
                    </table>
                  </div>
                </div>
              </div>            
          </div>
       <div id="invoice-footer" class="row">
                <div class="col-md-12">
                  <div class="pull-left mt20 fs15 text-primary"> &nbsp;</div>
                  <div class="pull-right">
                    <table id="invoice-summary" class="table">
                      <thead>
                        <tr>
                          <th><b>總計:</b></th>
                          <th>{subtotal}</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td><b>稅別</b></td>
                          <td>{taxclassname}</td>
                        </tr>
                        
                      </tbody>
                    </table>
                  </div>
                  <div class="clearfix"></div>
                  <div class="invoice-buttons"><a href="javascript:window.print()" class="btn btn-default mr10"><i class="fa fa-print pr5"></i> Print Invoice</a>
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
               
              </form>
            </div>
          </div></div>
        </section>
      </section>    
    <!--#include file="footer.htm"-->    
    </body>
</html>